<div class="app-bar mat-elevation-z4 row g-2">

    <div class="col-md-6 d-flex align-items-center ">
      <div class="col-md-3 menu-items title-item-x d-flex align-items-end">
       
        <label>AdeA</label>
      </div>
      <div class="col d-flex menu-items">
        <div
          [class]="menuIndex===0?'menu-item-x active d-flex align-items-end justify-content-center':'menu-item-x d-flex align-items-end justify-content-center'"
          (click)="users()">
          Usuarios
        </div>        
      </div>
    </div>
  
  </div>
  <div class="content-x">
    <div class="work-area">
  
      <div class="row p-0 m-0">
        <div class="col-md-12 m-0 p-0" >
          <router-outlet></router-outlet>
        </div>
      </div>
  
    </div>
  </div>